<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <form id="search">
                        <div class="columns pull-left col-md-2 nopadding">
                            <input type="text" class="form-control" name="searchText" placeholder="请输入标签名或类型或描述" autocomplete="off">
                        </div>
                        <div class="input-group columns pull-left tool-pull-left">
                            <select data-placeholder="字典类别" name="type" id="type" class="form-control">
                            </select>
                        </div>
                    </form>

                    <div class="columns pull-left tool-pull-left">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>

                    <div class="columns pull-right">
                        <button sec:authorize="hasAuthority('common:sysDict:add')" type="button" class="btn btn-primary" onclick="add()" href="/se/entry">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button sec:authorize="hasAuthority('common:sysDict:batchRemove')" type="button" class="btn btn-danger" onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                </div>

                <table id="exampleTable" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script type="text/javascript" th:src="@{/js/appjs/system/dict/dict.js}"></script>
</body>
</html>