<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="utf-8">
<head th:insert="~{include :: header}">
</head>
<body class="gray-bg">
<div class="col-sm-12">
    <div class="ibox-body">
        <div class="fixed-table-toolbar form-inline">
            <form id="search">
                <div class="input-daterange input-group columns pull-left" style="margin-left: 5px; width: 300px;" id="datepicker">
                    <span class="input-group-addon tool-span-addon">日期：</span>
                    <input type="text" class="form-control" name="start" autocomplete="off"/>
                    <span class="input-group-addon tool-span-addon">-</span>
                    <input type="text" class="form-control" name="end" autocomplete="off"/>
                </div>
                <div class="input-group columns pull-left tool-pull-left">
                    <select data-placeholder="请选择" name="shopNo" id="shopNo" class="form-control">
                        <option value="">选择店铺</option>
                    </select>
                </div>
                <div class="input-group columns pull-left tool-pull-left">
                    <select data-placeholder="请选择" name="billType" id="billType" class="form-control">
                        <option value="CW_SK_ORDER">收款</option>
                        <option value="CW_FK_ORDER">付款</option>
                    </select>
                </div>
                <div class="input-group columns pull-left tool-pull-left">
                    <select data-placeholder="请选择" name="dateType" id="dateType" class="form-control">
                    </select>
                </div>
            </form>

            <div class="input-group columns pull-left tool-pull-left">
                <button class="btn btn-success" onclick="reload()">查询</button>
            </div>
            <div class="input-group columns pull-left tool-pull-left">
                <button class="btn btn-success" onclick="exportExcel()">导出</button>
            </div>

        </div>

        <div class="ibox-content">
            <div class="jqGrid_wrapper">
                <table id="table_list"></table>
                <div id="pager_list"></div>
            </div>
        </div>

    </div>
</div>

<div th:insert="~{include :: footer}"></div>
<script type="text/javascript" th:src="@{/js/appjs/cashier/reconcile/reconcile.js}"></script>
</body>
</html>